*{
    padding: 10px;
    background-color: beige;

}
html{
    display: inline-block;
}
a{
    text-decoration: none;
}
ul{
    flex-direction:row;
    display: flex;
    justify-content: center;
    
    
}
li{
    
    list-style: none;
}
.list{
    
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: rgb(189, 176, 159);

    
}